
body {
    font-family: Rubik, sans-serif;
    display: flex;
    font-size: 32px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 800px;
    min-width: 800px;
}

.field_wrapper {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

.field {
    position: absolute;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, 32%);
    gap: 2%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    filter: blur(0);
    transition: filter 1s ease-out;
}

.field_blurred {
    filter: blur(6px);
}

.game_winner {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    font-size: 15em;
    color: transparent;
    transition: color 1s ease-out;
    user-select: none;
    pointer-events: none;
    font-weight: 900;
}

.game_winner.visible {
    color: #000;
    text-shadow: 0 0 50px #000000;
}

.cell {
    border: 1px solid #b3b2b2;
    background: #eeeeee;
    padding: 0;
    font-size: 250px;
    font-family: inherit;
    font-weight: 600;
    transition: background-color 0.3s ease-out;
    line-height: 250px;
}

.cell:focus {
    border: none;
    outline: none;
}

.cell:disabled {
    background: #bfbfbf;
}

.chat {
    text-align: center;
    font-style: italic;
    max-width: 600px;
}

.players {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    color: #7b7b7b;
    width: 100%;
}

.player {
    width: 40%;
    height: 1.2em;
    display: flex;
    flex-direction: row;
    font-size: 2em;
    border: 1px solid transparent;
    background: transparent;
    transition: background-color 0.3s ease-in, border 0.3s ease-in;
}

#player-o {
    flex-direction: row-reverse;
}

.player-symbol {
    text-align: center;
    font-weight: 500;
    margin: 0 0.2em;
}

.status {
    font-weight: 300;
}

.current {
    border: 1px solid #424242;
    background: #b3b2b2;
    color: #000;
}

#score {
    font-weight: 200;
    font-size: 2em;
}

.game_menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input_box {
    border: 1px solid #b8b8b8;
    background: #e8e8e8;
    font-weight: 200;
    text-align: center;
    min-height: 1em;
    font-size: 2em;
    margin-top: 0.5em;
    font-family: inherit;
}

.input_box:disabled {
    border: 1px solid #dbdbdb;
    background: #eeeeee;
}

#game-id-input.error {
    border: 1px solid #f00;
}

@media (max-resolution: 120dpi) {
    body {
        font-size: 16px;
    }

    .container {
        min-width: 500px;
        width: 500px;
    }

    .cell {
        font-size: 158px;
        line-height: 158px;
    }

    .chat {
        max-width: 450px;
    }
}
